@model EPrescribingSystem.Areas.Admin.ViewModel.MedicalPracticeViewModel

@{
    ViewData["Title"] = "Add Medication";
}
<head> 
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

</head>
<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Add a new Medication</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    
                    <div class="form-group">
                        <label asp-for="Medication.Name" class="control-label"></label>
                        <input asp-for="Medication.Name" class="form-control" />
                        <span asp-validation-for="Medication.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="text-dark">Dosage Form</label>
                        <br />
                        <select asp-for="Medication.DosageForm" required class="form-control">
                            <option value="">Select dosage form...</option>
                            <option>Tablet</option>
                            <option>Capsule</option>
                            <option>Suspension</option>
                            <option>Syrup</option>
                            <option>Lotion</option>
                            <option>Spray</option>
                            <option>Gel</option>
                            <option>Suppository</option>
                            <option>Injection</option>
                            <option>Drops</option>

                        </select>
                        <span asp-validation-for="Medication.DosageForm" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Medication.Schedule" class="control-label"></label>
                        <input asp-for="Medication.Schedule" class="form-control" />
                        <span asp-validation-for="Medication.Schedule" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Medication.ActiveIngredientID" class="control-label"></label>
                        <select asp-for="Medication.ActiveIngredientID" asp-items="@Model.ActiveIngredients" class="form-control">
                            <option value="" selected>Select Active ingrediant...</option>
                        </select>
                        <span asp-validation-for="Medication.ActiveIngredientID" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Medication.Strength" class="control-label"></label>
                        <input asp-for="Medication.Strength" class="form-control" />
                        <span asp-validation-for="Medication.Strength" class="text-danger"></span>
                    </div>
                    <div id="siya" style="display:none">
                    <div class="form-group">
                        <label asp-for="Medication.ActiveIngredientID2" class="control-label"></label>
                        <select asp-for="Medication.ActiveIngredientID2" asp-items="@Model.ActiveIngredients" class="form-control">
                            <option value="" selected>Select Active ingrediant...</option>
                        </select>
                        <span asp-validation-for="Medication.ActiveIngredientID2" class="text-danger"></span>
                    </div>
                 
                    <div class="form-group">
                        <label asp-for="Medication.Strength2" class="control-label"></label>
                        <input asp-for="Medication.Strength2" class="form-control" />
                        <span asp-validation-for="Medication.Strength2" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Medication.ActiveIngredientID3" class="control-label"></label>
                        <select asp-for="Medication.ActiveIngredientID3" asp-items="@Model.ActiveIngredients" class="form-control">
                            <option value="" selected>Select Active ingrediant...</option>
                        </select>
                        <span asp-validation-for="Medication.ActiveIngredientID3" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Medication.Strength3" class="control-label"></label>
                        <input asp-for="Medication.Strength3" class="form-control" />
                        <span asp-validation-for="Medication.Strength3" class="text-danger"></span>
                    </div>
                    </div>
                    <div class="form-group">
                        </div>

                    <div class="form-group">
                      
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-area="Admin" asp-controller="Medication" asp-action="Index">Cancel</a>
                        <a class="btn btn-outline-info" id="show">Add active ingredient</a>
                    </div>
                </form>
               
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#hide").click(function () {
            $("#siya").hide();
        });
        $("#show").click(function () {
            $("#siya").show();
        });
    });
</script>