@model Medication

@{
    ViewData["Title"] = "Add Medication";
}
<head> 
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

</head>
<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Add a new Medication</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">

                        <br />
                        <label class="text-dark">Dosage Form</label>
                        <br />
                        <select asp-for="DosageForm" required class="form-control">
                            <option>Tablet</option>
                            <option>Capsule</option>
                            <option>Suspension</option>
                            <option>Syrup</option>
                            <option>Lotion</option>
                            <option>Spray</option>
                            <option>Gel</option>
                            <option>Suppository</option>
                            <option>Injection</option>
                            <option>Drops</option>

                        </select>
                        <span asp-validation-for="DosageForm" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Schedule" class="control-label"></label>
                        <input asp-for="Schedule" class="form-control" />
                        <span asp-validation-for="Schedule" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ActiveIngredient.ActiveIngredientID" class="control-label"></label>
                        <select asp-for="ActiveIngredient.ActiveIngredientID" class="form-control"></select>
                        <span asp-validation-for="ActiveIngredient.ActiveIngredientID" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Strength" class="control-label"></label>
                        <input asp-for="Strength" class="form-control" />
                        <span asp-validation-for="Strength" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-area="Admin" asp-controller="Medication" asp-action="Index">Cancel</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>