@model InputModel
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> UserManager
@{
    Layout = "_Layout";
}

@*<head>
    <link rel="stylesheet" href="~/parent/pcalendar/assets/bootstrap/css/bootstrap.min.css">
</head>*@
<div class="container-fluid">
    <div class="align-items-center mb-4">
        <h2 class="text-dark text-center">Profile</h2>
    </div>
    <div class="row mb-3">
        <form asp-action="EditProfile" id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-lg-4 col-xl-4 offset-xl-0">

                    <div class="card mb-3">
                        <div class="card-body text-center shadow">

                            <label asp-for="ProfilePicture" style="width: 100%;" class="text-primary  m-0 fw-bold">Profile Picture</label>
                            @if (Model?.ProfilePicture != null)
                            {
                                <img id="profilePicture" class="rounded-circle mb-3 mt-4" src="data:image/*;base64,@(Convert.ToBase64String(Model.ProfilePicture))" width="160" height="160" />
                            }
                            else if (UserManager.GetUserAsync(User).Result.ProfilePicture != null)
                            {
                                <img id="profilePicture" class="rounded-circle mb-3 mt-4" src="data:image/*;base64,@(Convert.ToBase64String(UserManager.GetUserAsync(User).Result.ProfilePicture))" width="160" height="160" />
                            }
                            else
                            {
                                <img id="profilePicture" class="rounded-circle mb-3 mt-4" src="" width="160" height="160" />
                            }

                            <input type="file"
                                   accept=".png,.jpg,.jpeg,.gif,.tif"
                                   asp-for="ProfilePicture"
                                   class="form-control"
                                   style="border:0px!important;padding: 0px;padding-top: 30px;padding-bottom: 50px;"
                                   onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])" />
                            <span asp-validation-for="ProfilePicture" class="text-danger"></span>
                            <br />

                            @*<div class="mb-3"><button class="btn btn-primary btn-sm" type="submit">Change Photo</button></div>*@

                        </div>
                    </div>

                </div>

                <div class="col">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Personal Profile</p>
                        </div>
                        <div class="card-body">

                            <div class="row">
                                @if (ViewBag.IsFine == true)
                                {
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        Your Profile has been successfully updated.
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>

                                }
                                <div class="col">
                                    <div class="form-group">
                                        <div class="mb-3"><label asp-for="FirstName"><strong>First Name:</strong></label><input class="form-control" required asp-for="FirstName"></div>
                                        @*<span asp-validation-for="FirstName" class="text-danger"></span>*@
                                    </div>
                                    <div class="form-group">
                                        <div class="mb-3"><label asp-for="PhoneNumber" class="form-label"><strong>Phone Number:</strong><br></label><input asp-for="PhoneNumber" class="form-control"></div>
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <div class="mb-3"><label asp-for="LastName" class="form-label"><strong>Last Name</strong></label><input required asp-for="LastName" class="form-control"></div>
                                        @*<span asp-validation-for="LastName" class="text-danger"></span>*@
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit">Save Profile</button></div>
                            <div class="form-group">
                                <a asp-area="Admin" asp-controller="Profile" asp-action="ChangePassword">Please click here to change your password</a>
                            </div>
                            <br />

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

<script>
    $(document).ready(function () {
        $('.navbar-dark').find('[href="' + window.location.pathname + '"]').parent().addClass('active')
    });
</script>
}
