@model EPrescribingSystem.Models.ForgotPasswordModel

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "_Layout1";
}
<div class="container col-md-4">
    <br />
    <br />
    <br />
    <h1>Forgot Password</h1>
    <br />
    <br />
    <div class="row">
        <div>
            @if (Model?.EmailSent == true)
            {
                <div class="alert alert-success" role="alert">
                    <p>
                        If you are registered with us,
                        We have sent an email on your registered email address. To reset your password.
                    </p>
                </div>
            }
            else
            {
                <p>Forgot your Password? No Worries you can reset it easily.</p>
                <form asp-action="ForgotPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label">Please enter your registered email address:</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    @*<div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="EmailSent" /> @Html.DisplayNameFor(model => model.EmailSent)
                            </label>
                        </div>*@
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Continue" />
                    </div>
                </form>
            }
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>

    @*<div>
            <a asp-action="SignIn" asp-controller="Account">SignIn</a>
        </div>*@
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>
