@model EPrescribingSystem.Models.ChangePasswordModel

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "_Layout";
}
@*<head>
        <link rel="stylesheet" href="~/parent/pcalendar/assets/bootstrap/css/bootstrap.min.css">
    </head>*@

<div class="container-fluid">
    <div class="align-items-center mb-4">
        <h2 class="text-dark text-center">Change Password</h2>
    </div>
    <div class="col-lg-7 mx-auto">
        <div class="shadow mb-3">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Change Password</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        @if (ViewBag.IsFine == true)
                        {
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                Your Password has been updated successfully
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }
                        <form asp-action="ChangePassword">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="CurrentPassword" class="control-label"></label>
                                <input asp-for="CurrentPassword" class="form-control" />
                                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NewPassword" class="control-label"></label>
                                <input asp-for="NewPassword" class="form-control" />
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword" class="control-label"></label>
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <br />
                            <div class="row">
                                <div class="form-group mb-3">
                                    <div class="col">
                                        <a class="btn btn-secondary" asp-area="Admin" asp-controller="Profile" asp-action="Profile">Back to profile</a>

                                        <input type="submit" value="Change Password" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>


                </div>

                <script src="~/assets1/bootstrap/js/bootstrap.min.js"></script>
                <script src="~/assets1/js/theme.js"></script>


            </div>

        </div>

    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}