<div class="modal-content" style="background-color:transparent;border:none">
    <div class="modal-body" style="vertical-align:central">
        <div class="spinner-border text-success" role="status" style="width:150px;height:150px;margin-left:40%">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <span style="margin-left:45%">Loading...</span>

</div>

@*<div id="Fade_area" class="overlay"></div>

<partial name="_Popup" />
<div id="myModal" class="popup"></div>*@

