@model Pharmacy

@{
    ViewData["Title"] = "Delete Pharmacy";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Delete Confirmation for @Model.Name</h1>
            <h4 class="text-danger text-uppercase">BEWARE!!! This process cannot be undone.</h4>
            <h6 class="text-danger"> Click Confirm to proceed</h6>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="form-group">
                    <label asp-for="LicenseNumber" class="control-label"></label>
                    <input asp-for="LicenseNumber" class="form-control" readonly />
                    <span asp-validation-for="LicenseNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" readonly />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address1" class="control-label"></label>
                    <input asp-for="Address1" class="form-control" readonly />
                    <span asp-validation-for="Address1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SuburbID" class="control-label"></label>
                    <input asp-for="SuburbID" class="form-control" readonly />
                    <span asp-validation-for="SuburbID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ContactNumber" class="control-label"></label>
                    <input asp-for="ContactNumber" class="form-control" readonly />
                    <span asp-validation-for="ContactNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EmailAddress" class="control-label"></label>
                    <input asp-for="EmailAddress" class="form-control" readonly />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="PharmacyID" />
                        <input type="submit" value="Confirm" class="btn btn-danger float-right" />
                    </form>
                    <a class="btn btn-outline-secondary" asp-area="Admin" asp-controller="MedicalPractice" asp-action="Index">Cancel</a>
                </div>

            </div>
        </div>
    </div>
</div>