@model EPrescribingSystem.Models.Disease

@{
    ViewData["Title"] = "Create";
}

<
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

</head>
<h1 style ="text-align: center;">Add a disease</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ICD_10_CODE" class="control-label"></label>
                <input asp-for="ICD_10_CODE" class="form-control" />
                <span asp-validation-for="ICD_10_CODE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diagnosis" class="control-label"></label>
                <input asp-for="Diagnosis" class="form-control" />
                <span asp-validation-for="Diagnosis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-success" />
                <a class="btn btn-outline-secondary" asp-area="Admin" asp-controller="Disease" asp-action="Index">Cancel</a>
            </div>            
        </form>
    </div>
</div>


