@model EPrescribingSystem.Models.ContraIndication

@{
    ViewData["Title"] = "Create";
}
<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Add a new Contra-Indication</h1>
        </p>
        <div style="margin: auto;" class="row">
            <div class="col-md-8 offset-2">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ActiveIngredientID" class="control-label"></label>
                <select asp-for="ActiveIngredientID" class ="form-control" asp-items="ViewBag.ActiveIngredientID"></select>
            </div>
            <div class="form-group">
                <label asp-for="DiseaseID" class="control-label"></label>
                <select asp-for="DiseaseID" class ="form-control" asp-items="ViewBag.DiseaseID"></select>
            </div>
            <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                <a class="btn btn-outline-secondary" asp-area="Admin" asp-controller="ContraIndication" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>
    </div>
</div>

