@model RegisterUserModel

@{
    ViewData["Title"] = "Register";
    Layout = "_Layout";
}

<link href="~/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
@*<script src="~/assets/bootstrap/js/bootstrap.min.js"></script>*@
<script src="~/js/wizard.js"></script>
<link href="~/css/wizard.css" rel="stylesheet" />
<script src="~/js/cities.js"></script>

<form action="Create" method="post">
    <div class="stepwizard">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
                <p>Occupation</p>
            </div>

            <div class="setupwizard-step">
                <a href="#step-2" type="button" class="btn btn-primary btn-circle" disabled="disabled">2</a>
                <p>Personal Details</p>
            </div>

            <div class="stepwizard-step">
                <a href="#step-3" type="button" class="btn btn-primary btn-circle" disabled="disabled">3</a>
                <p>Education</p>
            </div>

            <div class="stepwizard-step">
                <a href="#step-4" type="button" class="btn btn-primary btn-circle" disabled="disabled">4</a>
                <p>Address Details</p>
            </div>
        </div>
    </div>
    <div>
        <div class="row setup-content" id="step-1">
            <div class="col-xs-12">
                <div class="col-md-8">
                    <fieldset>
                        <div class="form-card">
                            <h3> Register User</h3>
                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <select asp-for="Title" class="form-control">
                                    <option selected disabled>---Select---</option>
                                    <option>Mr</option>
                                    <option>Mrs</option>
                                    <option>Miss</option>
                                    <option>Dr</option>
                                    <option>Prof</option>
                                </select>
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="FirstName" class="control-label">First Names</label>
                                <input asp-for="FirstName" class="form-control" />
                                <span class="glyphicon glyphicon-question-sign append text-info tip" data-tip="tip-first"></span>
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LastName" class="control-label">Last Name</label>
                                <input asp-for="LastName" class="form-control" />
                                <span class="glyphicon glyphicon-question-sign append text-info tip" data-tip="tip-two"></span>
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Role"></label>
                                <select asp-for="Role" class="form-control">
                                    <option selected disabled>---Select---</option>
                                    <option>Doctor</option>
                                    <option>Pharmacist</option>
                                </select>
                                <span asp-validation-for="Role" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Email" class="control-label"> </label>
                                <input asp-for="Email" type="text" class="form-control" />
                                <span class="glyphicon glyphicon-question-sign append text-info tip" data-tip="tip-four"></span>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ContactNumber" class="control-label"> </label>
                                <input asp-for="ContactNumber" type="text" class="form-control" />
                                <span class="glyphicon glyphicon-question-sign append text-info tip" data-tip="tip-four"></span>
                                <span asp-validation-for="ContactNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-block nextBtn pull-right" type="button">Next</button>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    <div class="row setup-content" id="step-2">
        <div class="col-xs-12">
            <div class="col-md-8">
                <fieldset>
                    <div class="form-card">
                        <h3>Personal Details</h3>
                        <div class="form-group">
                            <label asp-for="IDNumber" class="control-label">Identity Number</label>
                            <input asp-for="IDNumber" class="form-control" />
                            <span class="glyphicon glyphicon-question-sign append text-info tip" data-tip="tip-three"></span>
                            <span asp-validation-for="IDNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DateOfBirth" class="control-label">Date of birth</label>
                            <input asp-for="DateOfBirth" class="form-control" />
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Gender" class="control-label"></label>
                            <select class="form-control" asp-for="Gender">
                                <option selected disabled>---Select Gender---</option>
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block nextBtn pull-right" type="button">Next</button> @*//Delete later*@
                </fieldset>
                @*<div class="form-group">
                        <label asp-for="MaritalStatus" class="control-label">Marital Status</label>
                        <select class="form-control" asp-for="MaritalStatus">
                            <option selected disabled>---Select Marital Status---</option>
                            <option>Single</option>
                            <option>Divorced</option>
                            <option>Married</option>
                            <option>Widow</option>
                        </select>
                        <span asp-validation-for="MaritalStatus" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Race" class="control-label"></label>
                        <select class="form-control" asp-for="Race">
                            <option selected disabled>---Select Race---</option>
                            <option>White</option>
                            <option>Black</option>
                            <option>Coloured</option>
                            <option>Asian</option>
                        </select>
                        <span asp-validation-for="Race" class="text-danger"></span>
                    </div>
                    <button class="btn btn-primary btn-block nextBtn pull-right" type="button">Next</button>*@
            </div>
        </div>
    </div>

    <div class="row setup-content" id="step-3">
        <div class="col-xs-12">
            <div class="col-md-8">
                <fieldset>
                    <div class="form-card">
                        <h3>Education</h3>

                        <div class="form-group">
                            <label asp-for="HighestQualification" class="control-label">Highest Qualification</label>
                            <input asp-for="HighestQualification" class="form-control" />
                            <span asp-validation-for="HighestQualification" class="text-danger"></span>
                        </div>


                        <div class="form-group">
                            <label asp-for="RegistrationNumber" class="control-label">Registration Number</label>
                            <input asp-for="RegistrationNumber" class="form-control" />
                            <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
                        </div>



                        <div class="form-group">
                            <label asp-for="HealthCouncilRegistrationNumber" class="control-label">Health Council Registration Number</label>
                            <input asp-for="HealthCouncilRegistrationNumber" class="form-control" />
                            <span asp-validation-for="HealthCouncilRegistrationNumber" class="text-danger"></span>
                        </div>

                    </div>

                    <button class="btn btn-primary btn-block nextBtn pull-right" type="button">Next</button>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="row setup-content" id="step-4">
        <div class="col-xs-12">
            <div class="col-md-8">
                <fieldset>
                    <div class="form-card">
                        <h3>Address</h3>

                        <div class="form-group">
                            <label asp-for="Addressine1" class="control-label">Address Line 1</label>
                            <input asp-for="Addressine1" class="form-control" />
                            <span asp-validation-for="Addressine1" class="text-danger"></span>
                        </div>


                        <div class="form-group">
                            <label asp-for="AddressLine2" class="control-label">Address Line 2</label>
                            <input asp-for="AddressLine2" class="form-control" />
                            <span asp-validation-for="AddressLine2" class="text-danger"></span>
                        </div>
                        @*<div class="form-group">
                            <label asp-for="City">City</label><span class="validator" style="color:Red;color:Red;display:contents;">*</span>
                            <select asp-for="City" id="lstCity" required asp-items="Cities" class="form-control">
                                <option value="" selected>Select city...</option>
                            </select>
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Suburb">Suburb</label><span class="validator" style="color:Red;color:Red;display:contents;">*</span>
                            <select id="lstSuburb" required asp-for="Suburb" class="form-control" asp-items="Suburbs">
                                <option value="" selected>Select suburb...</option>
                            </select>
                            <span asp-validation-for="Suburb" class="text-danger"></span>
                        </div>*@
                        <div class="form-group col-md-2">
                            <label asp-for="PostalCode">Postal Code</label>
                            <input asp-for="PostalCode" type="text" class="form-control" placeholder="Postal Code">
                            <span asp-validation-for="PostalCode" class="text-danger"></span>
                        </div>
                    </div>

                    <button class="btn btn-success nextBtn btn-block pull-right" type="submit">Finish!</button>
                </fieldset>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}